body{
    background-image: url(pexels-helena-lopes-3215519.jpg);
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-repeat: no-repeat;   
    background-position: center;
}
